block variables
    -var title = 'Category Add'

extends ../common/layout

block append main
    .content-wrapper
        // Content Header (Page header)
        section.content-header
            h1
                | 分类添加
                small Preview
            ol.breadcrumb
                li
                    a(href="#")
                        i.fa.fa-dashboard
                        | Home
                li
                    a(href="#") Forms
                li.active 分类添加
        // Main content
        section.content
            .row
                // right column
                .col-md-6
                    // Horizontal Form
                    .box.box-info
                        .box-header.with-border
                            h3.box-title 分类添加
                        // /.box-header
                        // form start
                        form.form-horizontal
                            .box-body
                                .form-group
                                    label.col-sm-2.control-label(for="inputEmail3") 分类名称
                                    .col-sm-10
                                        input.form-control(type="text", name="categoryName", placeholder="分类名称")
                            // /.box-body
                            .box-footer
                                button.btn.btn-default(type="reset") 取消
                                button.btn.btn-info.pull-right(type="submit") 确定