doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=0")
        if title
            title #{title} - Talk
        else
            title Talk...
        block style
            link(href="/css/typo.css", rel="stylesheet")
            link(href="/css/app.css", rel="stylesheet")
            link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    body
        block header

        block main

        block footer

        block script
            script(type="text/javascript" src="/js/jquery.js")
            script(type="text/javascript" src="/js/common.js")