block variables
    -var title = '忘记密码'
extends ../common/layout
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 重置密码
                    if errors
                        .problem
                            | 请解决以下问题然后再提交：
                            ul
                                li #{errors}
                    .cell
                        form(action="/forgot", method="post")
                            .form-unit
                                span.key 用户名/邮箱
                                span.val
                                    input.tp(type="text", name="user", value=user ? "#{user}" : "")
                            .form-submit
                                input.super.normal.button(type="submit", value="提交")
            include ../common/sidebar
block footer
    include ../common/footer