block variables
    -var title = '登录'

extends ../common/layout

block header
    include ../common/header

block prepend style
    link(href="/essage/essage.css", rel="stylesheet")

block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 登录&nbsp;&nbsp;
                        i.fa.fa-lock
                    .cell
                        form#loginForm
                            .form-unit
                                span.key 用户名
                                span.val
                                    input.tp(type="text", name="username")
                            .form-unit
                                span.key 密码
                                span.val
                                    input.tp(type="password", name="password")
                            .form-submit
                                input#submit.super.normal.button(type="button", value="登录")
                                | &nbsp;&nbsp;
                                a(href="") 忘记密码？
                    .inner
                        a(href="#")
                            span.chevron →&nbsp;
                            | 更多新主题
                .box
                    .cell
                        span.fade
                            strong V2EX
                            | &nbsp;/ 节点导航
                        .fr
                            a(href="#") 浏览全部节点

            include ../common/sidebar

block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        jQuery(function ($) {
            $('#submit').click(function(){
                var formVal = $('#loginForm').serialize();
                $.post('/login', formVal, function(data){
                    if(data.status == 1){
                        Essage.show({
                            message: data.msg,
                            status: 'success',
                            redirect : '/'
                        }, 2000);
                    }else{
                        Essage.show({
                            message: data.msg,
                            status: 'error'
                        }, 2000);
                    }
                },'json');
            });
        });