block variables
    -var title = '登录'

extends ../common/layout

block header
    include ../common/header

block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 登录&nbsp;&nbsp;
                        i.fa.fa-lock
                    -if (errors)
                     .problem
                        | 请解决以下问题然后再提交：
                        ul
                            li #{errors}
                    .cell
                        form(action="/login", method="post")
                            .form-unit
                                span.key 用户名
                                span.val
                                    input.tp(type="text", name="username", value=username ? "#{username}" : "",)
                            .form-unit
                                span.key 密码
                                span.val
                                    input.tp(type="password", name="password")
                            .form-submit
                                input.super.normal.button(type="submit", value="登录")
                                | &nbsp;&nbsp;
                                a(href="") 忘记密码？
                    .inner
                        a(href="#")
                            span.chevron →&nbsp;
                            | 更多新主题
                .box
                    .cell
                        span.fade
                            strong V2EX
                            | &nbsp;/ 节点导航
                        .fr
                            a(href="#") 浏览全部节点

            include ../common/sidebar

block footer
    include ../common/footer