block variables
    -var title = '修改密码'
extends ../common/layout
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 修改密码
                    -if (errors)
                     .problem
                        | 请解决以下问题然后再提交：
                        ul
                            li #{errors}
                    .cell
                        form(action="/password", method="post")
                            .form-unit
                                span.key 初始密码
                                span.val
                                    input.tp(type="password", name="password")
                            .form-unit
                                span.key 新密码
                                span.val
                                    input.tp(type="password", name="newpassword")
                            .form-unit
                                span.key 确认密码
                                span.val
                                    input.tp(type="password", name="newpasswordcf")
                            .form-submit
                                input.super.normal.button(type="submit", value="修改密码")

            include ../common/sidebar

block footer
    include ../common/footer