block variables
    -var title = '修改密码'
extends ../common/layout
block prepend style
    link(href="/essage/essage.css", rel="stylesheet")
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 修改密码
                    .cell
                        form#passwordForm
                            .form-unit
                                span.key 初始密码
                                span.val
                                    input.tp(type="password", name="password")
                            .form-unit
                                span.key 新密码
                                span.val
                                    input.tp(type="password", name="newpassword")
                            .form-unit
                                span.key 确认密码
                                span.val
                                    input.tp(type="password", name="newpasswordcf")
                            .form-submit
                                input#submit.super.normal.button(type="button", value="修改密码")

            include ../common/sidebar

block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        jQuery(function ($) {
            $('#submit').click(function () {
                var formVal = $('#passwordForm').serialize();
                $.post('/password', formVal, function (data) {
                    if (data.status == 1) {
                        Essage.show({
                            message: data.msg,
                            status: 'success'
                        }, 2000);
                    } else {
                        Essage.show({
                            message: data.msg,
                            status: 'error'
                        }, 2000);
                    }
                }, 'json');
            });
        });