block variables
    -var title = '修改资料'

extends ../common/layout
block prepend style
    link(href="/essage/essage.css", rel="stylesheet")
block header
    include ../common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        | 修改资料
                    .cell
                        form#settingForm
                            .form-unit
                                span.key 用户名
                                span.val
                                    input.tp(type="text", name="username",value="#{user.username}", disabled)
                            .form-unit
                                span.key 昵称
                                span.val
                                    input.tp(type="text", name="nickname",value="#{user.nickname}")
                            .form-unit
                                span.key 邮箱
                                span.val
                                    input.tp(type="text", name="email",value="#{user.email}")
                            .form-unit
                                span.key 性别
                                span.val
                                    if user.gender == 'male'
                                        label
                                            input(type="radio", name="gender", value="male", checked)
                                            | 男
                                        label
                                            input(type="radio", name="gender", value="female")
                                            | 女
                                    else
                                        label
                                            input(type="radio", name="gender", value="male")
                                            | 男
                                        label
                                            input(type="radio", name="gender", value="female", checked)
                                            | 女
                            .form-submit
                                input#submit.super.normal.button(type="button", value="保存修改")

            include ../common/sidebar

block footer
    include ../common/footer

block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        jQuery(function ($) {
            $('#submit').click(function(){
                var formVal = $('#settingForm').serialize();
                $.post('/setting', formVal, function(data){
                    if(data.status == 1){
                        Essage.show({
                            message: data.msg,
                            status: 'success'
                        }, 2000);
                    }else{
                        Essage.show({
                            message: data.msg,
                            status: 'error'
                        }, 2000);
                    }
                },'json');
            });


        });