block variables
    -var title = 'Message'
extends common/layout
block header
    include common/header
block append main
    #Wrap
        .container
            #Main
                .box
                    .crumbs
                        a(href="/") V2EX
                        span.chevron &nbsp;›&nbsp;
                        if typeof(way) !== 'undefined' && way
                            | !{way}
                        else if typeof(error) !== 'undefined' && error
                            | Error
                        else
                            | Message
                    if typeof(error) !== 'undefined' && error
                        .problem
                            | 出错啦：
                            ul
                                li !{error}
                    else
                        .message
                            | 提示：
                            ul
                                li !{message}
            include common/sidebar
block footer
    include common/footer