extends ../common/layout
block prepend style
    link(href="/css/weui.css", rel="stylesheet")
    link(href="/essage/essage.css", rel="stylesheet")
block header
    include ../common/header
block append main
    .main
        .wrap
            form#passwordForm.bd
                .weui_cells_title 修改密码
                .weui_cells.weui_cells_form
                    .weui_cell
                        .weui_cell_hd
                            label.weui_label 原始密码
                        .weui_cell_bd.weui_cell_primary
                            input.weui_input(type="password", name="password", value)
                    .weui_cell
                        .weui_cell_hd
                            label.weui_label 新密码
                        .weui_cell_bd.weui_cell_primary
                            input.weui_input(type="password", name="newpassword", value)
                    .weui_cell
                        .weui_cell_hd
                            label.weui_label 确认密码
                        .weui_cell_bd.weui_cell_primary
                            input.weui_input(type="password", name="newpasswordcf", value)
                .weui_btn_area
                    input#submit.weui_btn.weui_btn_primary(type="button" value="修改密码")

block footer
    include ../common/footer
block append script
    script(type="text/javascript", src="/essage/essage.js")
    script(type="text/javascript").
        jQuery(function ($) {
            $('#submit').click(function () {
                var formVal = $('#passwordForm').serialize();
                $.post('/password', formVal, function (data) {
                    if (data.status == 1) {
                        Essage.show({
                            message: data.msg,
                            status: 'success'
                        }, 2000);
                    } else {
                        Essage.show({
                            message: data.msg,
                            status: 'error'
                        }, 2000);
                    }
                }, 'json');
            });
        });