.navbar.navbar-footer
    .container
        .row
            .col-lg-12
                footer(role="contentinfo")
                    p.left Bootstrap 3.x Admin Theme
                    p.right
                        | &#169; 2013
                        a(href="http://www.meritoo.pl", target="_blank") Meritoo.pl