nav.navbar.navbar-default.navbar-fixed-top.bootstrap-admin-navbar.bootstrap-admin-navbar-under-small(role="navigation")
    .container
        .row
            .col-lg-12
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".main-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="about.html") Talk Admin
                .collapse.navbar-collapse.main-navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href="#") Link
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                | Dropdown
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Another action
                                li
                                    a(href="#") Something else here
                                li.divider(role="separator")
                                li
                                    a(href="#") Separated link
                                li.divider(role="separator")
                                li
                                    a(href="#") One more separated link

