.col-md-2.bootstrap-admin-col-left
    ul.nav.navbar-collapse.collapse.bootstrap-admin-navbar-side
        li
            a(href="/admin/catagory")
                i.glyphicon.glyphicon-chevron-right
                | 分类
        li
            a(href="about.html")
                i.glyphicon.glyphicon-chevron-right
                | About
        li.active
            a(href="dashboard.html")
                i.glyphicon.glyphicon-chevron-right
                | Dashboard
        li.disabled
            a(href="#")
                i.glyphicon.glyphicon-chevron-right
                | Calendar
        li.disabled
            a(href="#")
                i.glyphicon.glyphicon-chevron-right
                | Statistics (Charts)
        li
            a(href="forms.html")
                i.glyphicon.glyphicon-chevron-right
                | Forms
        li
            a(href="tables.html")
                i.glyphicon.glyphicon-chevron-right
                | Tables
        li
            a(href="buttons-and-icons.html")
                i.glyphicon.glyphicon-chevron-right
                | Buttons &#38; Icons
        li
            a(href="wysiwyg-editors.html")
                i.glyphicon.glyphicon-chevron-right
                | WYSIWYG Editors
        li
            a(href="ui-and-interface.html")
                i.glyphicon.glyphicon-chevron-right
                | UI &#38; Interface
        li
            a(href="error-pages.html")
                i.glyphicon.glyphicon-chevron-right
                | Error pages
        li
            a(href="forms.html")
                i.glyphicon.glyphicon-chevron-down
                | Submenu
            ul.nav.navbar-collapse.bootstrap-admin-navbar-side
                li
                    a(href="about.html")
                        i.glyphicon.glyphicon-chevron-right
                        | Submenu 1
                li
                    a(href="about.html")
                        i.glyphicon.glyphicon-chevron-right
                        | Submenu 2
                li
                    a(href="about.html")
                        i.glyphicon.glyphicon-chevron-right
                        | Submenu 3
        li
            a(href="#")
                span.badge.pull-right 731
                | Orders
        li
            a(href="#")
                span.badge.pull-right 812
                | Invoices
        li
            a(href="#")
                span.badge.pull-right 27
                | Clients
        li
            a(href="#")
                span.badge.pull-right 1,234
                | Users
        li
            a(href="#")
                span.badge.pull-right 2,221
                | Messages
        li
            a(href="#")
                span.badge.pull-right 11
                | Reports
        li
            a(href="#")
                span.badge.pull-right 83
                | Errors
        li
            a(href="#")
                span.badge.pull-right 4,231
                | Logs