/*!
 * Byte.css v1.0
 */

@charset "UTF-8";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #e2e2e2;
    min-height: 600px;
    font-size: 14px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

body, button, input, select, textarea{
    font-weight: 400;
}

a{
    color: #909090;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
a:active,
a:hover{
    color:#3c3c3c;
    text-decoration:none;
}
a.tb:link, a.tb:visited, a.tb:active {
    font-size: 11px;
    line-height: 12px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    text-shadow: 0px 1px 0px #fff;
}

a.tb:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    text-decoration: none;
    border-radius: 15px;
}
/*button[disabled]{cursor:default;background-color: #f5f5f5;}*/
.clearfix:after,
.clearfix:before,
.container:after,
.container:before{
    clear:both;
    display:table;
    content:"";
}
.clearfix,
.container{
    zoom: 1;
}
.fl{float:left;}
.fr{float:right;}
.text-blue{color:#4285F4;}
.grey{
    color: #999;
}
.lh{
     line-height: 180%!important;
 }

/*h1 - h3*/
h1 {
    font-size: 24px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
.f12{
    font-size: 12px;
}

/*a*/
#Tab a:link, #Tab a:visited, #Tab a:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}

#Tab a:hover {
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}
a.node:link, a.node:visited, a.node:active{
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}
a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}
a.replay-count:link, a.replay-count:visited, a.replay-count:active{
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #aab0c6;
    display: inline-block;
    padding: 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
}
a.replay-count:hover{
    background-color: #969cb1;
}

/*fonts*/
.small{
    font-size: 11px;
}
.fade{
    color: #ccc;
}

.text-center{
    text-align: center;
}

/**/
.chevron {
    font-family: "Lucida Grande";
    font-weight: 500;
}

/*button*/
.super.button {
    background-image: url("../images/btn_bg.png");
    padding: 4px 15px 4px 15px;
    border: 1px solid rgba(80,80,90, 0.2);
    border-bottom-color: rgba(80,80,90, 0.35);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
}

.normal.button {
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}

.normal.button:hover {
    background-color: #f9f9f9;
    border: 1px solid rgba(60,60,70,0.3);
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}

.normal.button:active {
    background-color: #e2e2e2;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.button.inline-block{
    display: inline-block;
}
/*form & input*/
.form-unit{padding: 5px 0;}
.form-unit span.key{
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 12px;
    vertical-align: middle;
}
.form-unit span.val{
    vertical-align: middle;
}
.form-unit span.val label{
    margin-right: 10px;
    cursor: pointer;
}
.form-unit .tp{
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 310px;
    line-height: 1.2;
}
.form-unit textarea.tp{
    vertical-align: top;
}
.form-unit .tp:disabled{
    background-color: #F9F9F9;
}
.form-unit .tp:focus{
    border: 1px solid rgba(128, 128, 160, 0.6);
    outline: none;
}
.form-unit .tips{
    color: #ccc;
    margin-left: 120px;
    padding-top: 2px;
}
.form-unit input[type=radio]{
    vertical-align: middle;
    margin-right: 5px;
}
.form-submit{
    margin-left: 120px;
    padding: 5px 0;
}
.problem{
    padding: 10px;
    font-size: 13px;
    line-height: 120%;
    text-align: left;
    background-color: #ffffc0;
    border-left: 5px solid #fff000;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
}
.problem ul{
    list-style: square;
    margin: 1em 0px 1em 1em;
    padding: 0px;
}
.problem > *:last-child{
    margin-bottom: 0!important;
}

/* #Header */
#Header{
    position:relative;
    top:0;
    right:0;
    left:0;
    z-index:5;
    min-height:40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    background:#fff;color:#909090;
}
.container{
    position:relative;
    margin-right:auto;
    margin-left:auto;
    width:960px;
}
#Header .navbar,
#Header ul.actions{
    padding:7px 0;
    height:44px;
    line-height:30px;
}
#Header .navbar a > *,
ul.actions li a > *{
    vertical-align:middle;
}
#Header .navbar span{
    font-size:22px;
}
ul.actions li{
    display:inline-block;
    position: relative;
}
ul.actions li{
    padding:0 2px;
}
ul.actions li a{
    font-size:14px;
    display: block;
    padding: 0 6px;
}
ul.actions li.highlight a{
    background-color: #4285F4;
    color: #fff;
    border-radius: 3px;
}
ul.actions li.highlight a:hover{
    background-color: #367CF2;
}

/* #Wrap */
#Wrap{
    background: #e2e2e2 url("../images/shadow_light.png") repeat-x;
    width: 100%;
}
#Main{
    float: left;
    min-height: 500px;
    width: 680px;
}
.box{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.crumbs{
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: auto;
}
.inner {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    border-bottom: 1px solid #e2e2e2;
}

.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    zoom:1;
}
.cell:before, .cell:after{
    content: "";
    display: table;
    clear: both;
}
.item{
    display: table;
    width: 100%;
}
.cell .avatar{
    width: 48px;
    height: 48px;
    /*position: absolute;*/
    float: left;
}
.cell .avatar img{
    width: 100%;
    border-radius: 4px;
}
.cell .all{
    padding-left: 58px;
    min-height: 48px;
    padding-right: 18px;
}
.cell .all .title{
    font-size: 16px;
    line-height: 140%;
    text-shadow: 0px 1px 0px #fff;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.full{
    padding: 0;
}
.full input[type=text]{
    width: 100%;
    border: none;
    padding: 5px 10px;
    outline: none;
}
#newThreadForm .full input[type=text]{
    background-color: #F9F9F9;
    padding: 10px;
}
#newThreadForm .full input[type=text]:focus{
    background-color: #fff;
}
.item .reply{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

/* #Siddebar */
#Sidebar{
    width: 260px;
    float: right;
}
.ladder{
    line-height: 1.2em;
    padding: 4px 0;
}

/* detail */
.suggest{
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: auto;
}
.suggest .avatar{
    width: 72px;
    height: 72px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.suggest h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}
.suggest .thumb{
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.suggest .desc{
    font-size: 12px;
    color: #999;
    margin: 8px 0;
}
.votes {
    display: inline-block;
}

.vote:link, .vote:visited, .vote {
    text-decoration: none;
    font-size: 10px;
    line-height: 1;
    padding: 2px 8px 2px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #778;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}

.vote:hover {
    color: #667;
    border: 1px solid #667;
    text-decoration: none;
}

.vote:active {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.detail{
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-wrap: break-word;
}
.detail p{
    margin-bottom: 1em;
}
.detail > *:last-child{
    margin-bottom: 0 !important;
}
.thread-handle{
    padding: 5px;
    font-size: 14px;
    line-height: 120%;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );

    border-radius: 0px 0px 3px 3px;
    text-align: left;
}
.thread-handle .views{
    /*line-height: 12px;*/
    /*padding-top: 3px;*/
    text-shadow: 0px 1px 0px #fff;
    float: right;
    text-align: right;
    color: #999;
    font-size: 12px;
}


/* #Footer */
#Footer{
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;
}

@media (max-width: 960px){
    .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hide-narrow {
        display: none !important;
    }
}




/* Fixed for simditor editor*/
.simditor{
    border: none;
}








/*注册 & 登录页面 with weui.css*/
.wrap{position:relative;overflow-y:auto;margin:0 auto;max-width:640px;-webkit-overflow-scrolling:touch;}
.hd{padding:2em 0;}
.page_desc{color:#888;text-align:center;font-size:14px;}
.bd.spacing{padding:0 15px;}
.page_title{margin:0 15%;color:#3CC51F;text-align:center;font-weight:400;font-size:34px;}

/* Fixed For WeUI.css*/
.weui_label{width: 5em;}