/*!
 * Byte.css v1.0
 */

@charset "UTF-8";

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body, div, a, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section{
	margin:0;
	padding:0;
}
body{
	color: #333;
	background: #fff;
	font: 400 1em/1.8 Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
	word-wrap: break-word;
	overflow-x: hidden;
}
img{
	border:0 none;
	vertical-align: middle;
}
li{
	list-style: none;
}
a:link,
a:visited,
a:hover,
a:active{
	text-decoration:none;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom:1;
}
.by-fl{
    float: left!important;
}
.by-fr{
    float: right!important;
}
.by-text-left{
    text-align: left;
}
.by-text-center{
    text-align: center;
}
.by-text-right{
    text-align: right;
}

.by-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.by-container:before,
.by-container:after {
	display: table;
	content: " ";
	clear: both;
}
.by-row {
	margin-right: 15px;
	margin-left: 15px;
}
.by-row:before,
.by-row:after {
	display: table;
	content: " ";
	clear: both;
}
.by-col-1, .by-col-2, .by-col-3, .by-col-4, .by-col-5, .by-col-6, .by-col-7, .by-col-8, .by-col-9, .by-col-10, .by-col-11, .by-col-12 {
	float: left;
	position: relative;
	min-height: 1px;/**/
	padding-right: 15px;
	padding-left: 15px;
}
.by-col-12{width:100%;}
.by-col-11{width:91.66666667%;}
.by-col-10{width:83.33333333%;}
.by-col-9{width:75%;}
.by-col-8{width:66.66666667%;}
.by-col-7{width:58.33333333%;}
.by-col-6{width:50%;}
.by-col-5{width:41.66666667%;}
.by-col-4{width:33.33333333%;}
.by-col-3{width:25%;}
.by-col-2{width:16.66666667%;}
.by-col-1{width:8.33333333%;}
.by-col-oft-12{margin-left:100%;}
.by-col-oft-11{margin-left:91.66666667%;}
.by-col-oft-10{margin-left:83.33333333%;}
.by-col-oft-9{margin-left:75%;}
.by-col-oft-8{margin-left:66.66666667%;}
.by-col-oft-7{margin-left:58.33333333%;}
.by-col-oft-6{margin-left:50%;}
.by-col-oft-5{margin-left:41.66666667%;}
.by-col-oft-4{margin-left:33.33333333%;}
.by-col-oft-3{margin-left:25%;}
.by-col-oft-2{margin-left:16.66666667%;}
.by-col-oft-1{margin-left:8.33333333%;}
.by-col-oft-0{margin-left:0;}

.by-btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
    color: #333;
    font-family: inherit;
}
.by-btn:hover{
    color: #D90303;
    border-color: #D90303;
}
.by-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.by-btn-block{/*将来删掉此样式，统一用by-block替换*/
    display: block;
}
.by-block{
    display: block;
}
.by-btn-large{
    padding: 9px 12px;
    font-size: 20px;
}
.by-btn-middle{
    font-size: 16px;
    padding: 7px 12px;
}
.by-btn-small{
    padding: 2px 9px;
}
.by-btn-grey{
    background-color: #F0F0F0;
    color: #333;
    font-size: 16px;
    border: 1px solid #f0f0f0;
}
.by-btn-grey:hover{
    color: #333;
    border-color: #f0f0f0;
}
.by-btn-white{
    background-color: #fff;
}
.by-btn[disabled],
.by-btn.disabled{
    opacity: .65;
    pointer-events: none;
    cursor: not-allowed;
}
.by-btn.by-btn-grey[type=button][disabled]{
    color: #bbb;
}
.by-input{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: -webkit-box-shadow ease-in-out .15s;
    -o-transition: box-shadow ease-in-out .15s;
    transition: box-shadow ease-in-out .15s
}
.by-input:focus{
    -webkit-box-shadow: 0 0 4px 1px #ddd;
    -moz-box-shadow: 0 0 4px 1px #ddd;
    box-shadow: 0 0 4px 1px #ddd;
}
.by-form-group {
    margin-bottom: 15px
}
.by-form-group:before,
.by-form-group:after{
    display: table;
    content: " ";
    clear: both;
}
.by-radio-inline{
    position: relative;
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}
.by-hide{
    display: none;
}





























